body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background-color: rgba(181, 198, 224, 0.7);
}

h1 {
    /* color: rgb(242, 248, 252); */
    font-size: 30px;
    font-weight: 550;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-left: 0;
}

li {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

li::first-letter {
    text-transform: capitalize;
}

hr {
    border-color: rgb(150, 173, 207);
    margin-bottom: 5px;
}

footer small {
    margin-top: 10px;
    padding: 0 auto;
    text-align: center;
    display: block;
    position: relative;
    top: 5px;
}

.weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(166, 185, 217, 0.6);
    border: 1px solid rgba(166, 185, 217, 0.6);
    color: rgb(242, 248, 252);
}

.weather-information {
    background-color: rgba(150, 173, 207, 0.7);
    border: 1px solid rgba(150, 173, 207, 0.7);
    border-radius: 20px;
    padding-top: 10px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 6px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color: rgb(242, 248, 252);
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
#weather-description {
    margin-top: 8px;
}

#search-button {
    background-color: rgb(150, 173, 207);
    border: 1px solid rgb(150, 173, 207);
    color: rgb(242, 248, 252);
    font-weight: 500;
    transition: all 200ms ease-in-out;
}

#search-button:hover {
    border: 1px solid rgb(242, 248, 252);
    background-color: rgb(242, 248, 252);
    color: rgb(150, 173, 207);
}

#search-button:focus {
    outline: none;
    border: none;
}

#search-button:active {
    outline: none;
    border: none;
}

.weather-temperature .active {
    color: rgb(242, 248, 252);
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 10px;
    text-align: center;
    color: rgb(242, 248, 252);
    background-color: rgba(150, 173, 207, 0.7);
    border: 1px solid rgba(150, 173, 207, 0.7);
    border-radius: 18px;
    padding-top: 10px;
}

.weather-forecast-date {
    font-size: 16px;
    font-weight: 500;
}

.weather-forecast-temperatures {
    font-size: 16px;
}

.weather-forecast-temperature-max {
    font-weight: 600;
}

.weather-forecast-temperature-min {
    font-weight: 400;    
}

#change-theme {
    background-color: rgba(150, 173, 207, 0.7);
    border: 1px solid rgba(150, 173, 207, 0.7);
    box-shadow: 0px 2px 5px #52616b;
    border-radius: 35px;
    color: rgb(242, 248, 252);
    padding: 10px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    /* position: absolute;
    top: 30px;
    right: 40px; */
    transition: all 200ms ease-in-out;
    outline: none;

}

#change-theme:hover {
    background-color: rgba(242, 248, 252, 0.7);
    border: 1px solid rgba(242, 248, 252, 0.7);
    color: rgb(150, 173, 207);
}

.dark {
    background: linear-gradient(90deg, rgb(83, 93, 103) 0%, rgb(34, 44, 61) 76%);
}

.dark hr {
    border-color: rgba(213, 213, 213, 0.3);
}

.dark .weather-app {
    background-color: rgba(11, 18, 30, 0.7);
    border: 1px solid rgba(11, 18, 30, 0.7);
    color: rgb(213, 213, 213);
}

.dark .weather-information {
    background-color: rgb(32, 43, 60);
    border: 1px solid rgb(32, 43, 60);
}

.dark .weather-forecast {
    background-color: rgb(32, 43, 60);
    border: 1px solid rgb(32, 43, 60);
}

.dark #change-theme {
    background-color: rgba(11, 18, 30, 0.7);
    border: 1px solid rgba(11, 18, 30, 0.7);
    border-color: rgba(11, 18, 30, 0.7);
    box-shadow: 0px 2px 5px rgba(11, 18, 30, 0.8);
}

.dark #change-theme:hover {
    background-color: rgb(242, 248, 252);
    border: 1px solid rgb(242, 248, 252);
    color: rgb(11, 18, 30);
}

.dark #search-button {
    background-color: rgba(64, 85, 116, 0.7);
    border: 1px solid rgba(64, 85, 116, 0.7);
    color: rgb(242, 248, 252);
}

.dark #search-button:hover {
    background-color: rgb(242, 248, 252);
    border: 1px solid rgb(242, 248, 252);
    color: rgb(11, 18, 30);
}
